{{ define "content" }}
  <div class="container">
    <h1 class="mt-4 mb-3">連絡フォーム </h1>
    <div class="row">
      <div class="col-lg-8 mb-4">
        <form name="sentMessage" id="contactForm" action="/postmessage" method="POST">
          <div class="control-group form-group">
            <div class="controls"> <label>名前(任意):</label> <input type="text" class="form-control" id="name" name="name">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls"> <label>連絡先(任意):</label> <input type="tel" class="form-control" id="mail" name="address"> </div>
          </div>
          <div class="control-group form-group">
            <div class="controls"> <label>内容:</label> <textarea rows="10" cols="100" class="form-control" id="message" name="content" required data-validation-required-message="内容を入力してください" maxlength="999" style="resize:none"></textarea> </div>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">送信</button> </form>
      </div>
    </div>
  </div>
{{ end }}