{{ define "content" }}
  <div class="container">
    <h1 class="mt-4 mb-3">使い方 </h1>
    <div class="row">
      <div class="col-md-7"> <img class="img-fluid rounded mb-3 mb-md-0" src="/static/images/howto_twitter.png" alt=""> </div>
      <div class="col-md-5">
        <h3>1. サインイン</h3>
        <p>データを投稿したいTwitterアカウントでTwipexにサインインしてください。</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7"> <img class="img-fluid rounded mb-3 mb-md-0" src="/static/images/howto_setting.png" alt=""> </div>
      <div class="col-md-5">
        <h3>2. 設定</h3>
        <p>Apexのプラットフォーム、ID、投稿の頻度などを入力し、設定を完了してください。</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7"> <img class="img-fluid rounded mb-3 mb-md-0" src="/static/images/howto_sample.png" alt=""> </div>
      <div class="col-md-5">
        <h3>3. 投稿</h3>
        <p>設定した時刻に自動でデータを投稿します。</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7"> <img class="img-fluid rounded mb-3 mb-md-0" src="/static/images/howto_tracker.png" alt=""> </div>
      <div class="col-md-5">
        <h3>注意</h3>
        <p>※設定した投稿時間にTwipexで設定したレジェンドをアクティブにしていなければなりません。<br> ※トラッカーに「キル」「与ダメージ」「現行シーズン勝利数」をセットしていない場合、それらのデータは得られません。</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7"> <img class="img-fluid rounded mb-3 mb-md-0" src="/static/images/howto_predator.png" alt=""> </div>
      <div class="col-md-5">
        <h3>プレデターの方へ</h3>
        <p>※Twipexではマスター以上のプレイヤーを区別することができないため、プレデターの方は自身で設定する必要があります。<br> RPが10000未満の場合は設定をしても変化はありません。</p>
      </div>
    </div>
  </div>
{{ end }}